.recording {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100vh;
  padding-top: 10%;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding: 16px;
  overflow: hidden;
}

.header .left {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 5px;
}

.recording__body {
  display: flex;
  justify-content: center;
}

.record-text {
  font-size: 2rem;
  font-weight: 700;
  padding: 0 5%;
}

.record-buttons {
  margin: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4rem;
  margin-bottom: 10rem;
  width: 75%;
  padding: 0 3rem;
}

.record-button {
  text-align: center;
  font-family: "NanumSquare";
  color: black;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-weight: 500;
  border: none;
  border-radius: 15px;
  background-color: var(--text-background-light);
  min-height: 100%;
}

.visualizer {
  height: fit-content;
}
