.set-up {
  background: linear-gradient(#5d6dbe, #5d6dbe00);
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.set-up__logo {
  display: flex;
  position: absolute;
  mix-blend-mode: multiply;
  width: 100%;

  bottom: -55%;
  left: -15%;
}

.set-up .container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  min-height: 80%;
  min-width: 80%;

  background-color: var(--background-glass);
  backdrop-filter: var(--background-glass-blur);

  text-align: center;
}

.set-up .container h1 {
  font-size: 4rem;
  color: white;

  padding: 64px;
}

.set-up .container p {
  font-size: 2rem;
  color: white;
  padding: 6px;
}

.set-up select {
  width: 200px;
  padding: 10px;
  background-color: var(--text-background-lighter);
  border-radius: 5px;
  margin: 0;
  padding: 1rem;
  font-size: 1.3rem;
  color: var(--text);
  font-weight: 100;
}

.set-up select option {
  background-color: var(--text-background-lighter);
}

.set-up select:focus {
  outline: none;
  box-shadow: var(--text-background-light);
}

.styled-button {
  width: 200px;
  padding: 10px;
  background-color: var(--text-background-lighter);
  border-radius: 5px;
  margin: 2rem;
  font-size: 1.3rem;
  color: var(--text);
  font-weight: 100;
  cursor: pointer; /* Add this to make it look clickable */
}

.set-up__form {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 30%;
  padding-right: 30%;
}

.set-up__form input,
.set-up__form select {
  width: 100% !important;
  color: var(--text);
}
