.filter {
  width: fit-content;
  position: relative;
  user-select: none;
}

.filter__title,
.filter-options {
  width: 100%;
  border: 1px solid var(--border);
}

.filter__title {
  background-color: var(--background-primary);
  position: relative;
  border-radius: 32px;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 24px 8px 12px;
  cursor: pointer;
}

.filter__icon {
  width: 32px;
  height: 32px;
}

.filter-options {
  display: none;
  z-index: 45;
  border-radius: 0 0 32px 32px;
  padding-top: 32px;
  padding-bottom: 16px;

  background-color: var(--background-primary);

  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
}

.filter-options.active {
  display: block;
}

.filter-option {
  display: flex;
  flex-direction: row;
  gap: 6px;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  user-select: none;
}

.filter-option > input {
  width: fit-content;
}
