:root {
  --header-height: 100px;
  --footer-height: 100px;

  --request: #f65a5a;
  --question: #fce150;
  --tertiary: #003f88;
  --request-transparent: rgba(246, 90, 90, 20%);
  --question-transparent: rgba(252, 226, 79, 20%);
  --tertiary-transparent: rgba(0, 64, 138, 20%);

  --text: #000000;
  --text-alt: #f9efee;
  --text-accent-1: #ff0000;
  --text-accent-2: #000aff;
  --text-accent-3: #ff0000; /* TODO: define color */

  --text-background-lighter: #d9d9d9;
  --text-background-light: #b8b8b8;
  --text-background-dark: #353535;
  --text-background-response: #f2f2f2;

  --background: white;
  --background-primary: #efeeee;
  --background-secondary: #cdcdcd;

  --border: black;
  --background-grey: #cccccc;
  --background-glass: #35353580;
  --background-glass-blur: blur(20px);
}
